<h1>New Profile</h1>

<%= simple_form_for @profile do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :gender, collection: ['Female', 'Male', 'Non-binary / Third gender', 'Prefer not to say'], include_blank: false %>

<%= f.fields_for :year_groups do |yg| %>
  <%= yg.input :year_group_id, collection: YearGroup.all, prompt: 'Select your age' %>
<% end %>

<%= f.submit 'Start quiz', class: 'btn btn-success btn-lg' %>
<% end %>
<%= link_to 'Back', profiles_path %>
