<h2>Your info</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>
  <%= f.input :email, required: true %>
  <%= f.input :password, as: :hidden, input_html: { value: Devise.friendly_token.first(8) } %>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= link_to 'Already have an account?', new_user_session_path %>
